.grid-container .item{
  display: flex;
  position: relative;
  width: 350px;
  padding:40px;
  box-shadow: 0 5px 15px white;
  padding: 10px;
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.item {
  position: relative;
  display: flex;
}
